/*  --------- HEADER ---------   */

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #8f3315;
  /* background-color: red; */
  color: #fff;
  height: 60px;
}

#menu {
  height: 40px;
  width: 40px;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}

#menu hr {
  width: 20px;
  height: 3px;
  border: none;
  background-color: #fff;
  /* position: absolute; */
  display: block;
  border-radius: 5px;
} 